<footer class="footer mt-auto py-3 bg-light">
    <div class="footer-container">
        <span class="text-muted"></span>All rights reserved by The Puppy Barber, LLC.  	&#169;2021</span>
    </div>
</footer>