<% include ./partials/navbar.ejs %>
<% include ./partials/success-error-mess %>

<div class="row mt-5">
    <div class="m-auto">
        <div class="card card-body border border-danger">
            <h1 class="text-center mb-3">Dashboard</h1>
            <% include ./partials/success-error-mess %>
            <% include ./partials/messages %>
            <p class="lead mb-3 text-center">Welcome <%= user.first_name %>!</p>
            <table class="table table-hover customers-list" id="wltable" style="width:100%">
                <hr>
                <table >
                    <thead>

                    <tr>
                        <th>Customers on Waitlist</th>
                        <th>Customers Marked as Deleted</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span id="count"></span>
                        </td>
                        <td>
                            <span id="deleted"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>Customers for TPB Trailer</th>
                        <th>Customers for TPB Van 1</th>
                    </tr>
                    <tr>
                        <td>
                            <span id="tpbtrailer"></span>
                        </td>
                        <td>
                            <span id="tpbvan1"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="text-center">
                <a href="/users/logout" action="submit" class="btn btn-danger hoverable">Logout</a>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="../js/dashboardpage.js"></script>