<% include ./partials/navbar.ejs %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body border border-danger">
            <h1 class="text-center mb-3">Dashboard</h1>
            <p class="lead mb-3 text-center">Welcome <%= user.first_name %>!</p>
            <a href="/users/logout" action="submit" class="btn btn-danger btn-block hoverable">Logout</a>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs %>
