<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center border border-danger">
      <!-- <h1><i class="fab fa-node-js fa-3x"></i></h1> -->
      <h1><img src="./assets/424736_final_ver.jpg" width="300" height="300" class="d-inline-block align-top rounded-circle" alt="" ></h1>
      <h1> <strong>Waitlist</strong> </h1>
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        ><i class="fas fa-user-plus"></i> Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block"><i class="fas fa-sign-in-alt"></i>  Login</a>
    </div>
  </div>
</div>
